// flex 布局
.u-flex{
	display flex
	&.u-acenter{
		align-items center
	}
	&.u-scenter{
		justify-content center
	}
	&.u-jbetween{
		justify-content space-between
	}
	&.u-jcenter{
		justify-content center
	}
}